<img class="motif" src="../assets/images/motif-header.jpg">
<p>Please join us for the solemnization of</p>
<hr>
<h1>Zaki Salleh<br>&amp; Ieqa Sharif</h1>
<hr>
<p>
	February 21, 2015<br>
	Casa Ombak<br>
	10.30 AM
</p>
