body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  color: #1d1d1d;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

/* Structural */
.container {
  width: 100%;
  max-width: 800px;
  padding: 0 30px;
  margin: 60px auto;
  box-sizing: border-box;
  overflow: none;
}
.row {
  display: block;
  width: 100%;
}
.column {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
.full {
  width: 100%;
}
.half {
  width: calc(50% - 40px);
}

/* Layout */
.margin-right {
  margin-right: 60px;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer {
  display: flex;
  padding-bottom: 20px;
}
.footer p {
  margin-right: 20px;
}
.header h1 {
  margin: 0 0 10px;
}
.header .detail {
  margin: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.title {
  text-align: left;
  flex-grow: 8;
}
.nav-prev {
  text-align: left;
  flex-grow: 1;
}
.nav-next {
  text-align: right;
  flex-grow: 1;
}

/* Visual elements */
hr {
    height: 3px;
    color: #FCFAF8;
    background: #FCFAF8;
    font-size: 0;
    border: 0;
    margin: 30px 0;
}
img {
  border-radius: 8px;
}
.circle {
	border-radius: 50%;
	width: 10px;
	height: 10px;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 3px;
  vertical-align: middle;
  }
.blue {
  background-color: #0057D8;
}
.navy {
  background-color: #194AB1;
}
.green {
  background-color: #95BF16;
}
.orange {
  background-color: #C0580F;
}
.purple {
  background-color: #7B63DA;
}

/* Typography */
h1 {
  margin-bottom: 30px
}
h2 {
  font-size: 18px;
  color: #ABA197;
  letter-spacing: 0;
  font-weight: normal;
}
a {
  color: #1d1d1d;
  text-decoration: none;
  border-bottom: 2px solid #F6F3F0;
  padding:
}
a:hover {
  text-decoration: none;
  border-bottom: none;
  background: #F6F3F0;
  border-radius: 4px;
  padding: 0 4px;
  margin: 0 -4px;
}
.caption {
  font-style: italic;
  color: #ABA197;
  font-size: 14px;
  line-height: 1.8em;
  margin: 0;
}
.nomargin {
  margin-top: 0;
}
.detail {
  font-size: 16px;
  color: #ABA197;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 6px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
em {
  margin: 0 4px;
}
/* Emoji override */
.em {
  height: 1.0em !important;
  margin-top: -10px !important;
}

@media only screen and (max-width: 720px){
  .container {
    left: 0;
    right: 0;
  }
  .column {
    margin-bottom: 20px;
    width: 100%;
  }
}
