body {
  padding: 0;
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  color: #707070;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.decor {
  position: absolute;
  left: 5%;
  z-index: 1;
}

.logo {
  margin-bottom: 50px;
}

.container {
  width: 100%;
  max-width: 960px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
}

.content {
  position: relative;
  right: 0;  
  padding: 0 30px;
  margin-top: 100px;
  width: 560px;
  box-sizing: border-box;
  float: right;
}

@media only screen and (max-width: 560px){
  .decor {
    right: 0;
    top: -644px;
  }
  .container {
    left: 0;
    right: 0;
  }
  .content {
    margin: 60px 0;
    width: 100%;
  }
}

