<title>Zaki Salleh - Designer, learner.</title>

<link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">
<link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>

<link rel="icon" type="image/png" href="assets/img/favicon.ico">

<meta name="viewport" content="width=device-width" />