<div class="">
	<div class="☺"></div>
	<h1>Zaki Salleh</h1>
	<h2>Designer, learner.</h2>
	<p>
		<ul>
			<li><a href="http://blog.zakisalleh.com">Read blog</a></li>
			<li><a href="mailto:zaki@woolandcandy.com">Send Email</a></li>
		</ul>
	</p>

	<a href="http://woolandcandy.com" target="_new" alt="A little project.">
		<div class="wnc"></div>
	</a>
</div>