<title>An invitation to the solemnization of Zaki Salleh &amp; Ieqa Sharif</title>

<link rel="stylesheet" type="text/css" href="../assets/stylesheets/nikah.css">
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

<!-- <link rel="icon" type="image/png" href="img/favicon.ico"> -->

<meta name="viewport" content="width=device-width" />