<!DOCTYPE html>
<html>
<head>
	<%- partial("_head") %>
</head>
<body>
	<div class="card">
		<%- partial("_details") %>
		<div class="guest">
			<p>A private invitation for<br>Mr. Ashraf "Mat Frot" Zamani</p>
		</div>
	</div>
</body>
</html>